# Node
node_modules/

# Build output
dist/

# Env files
.env
.env.*

# Keys
*.pem

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
logs/
*.log

# OS
.DS_Store
Thumbs.db

# Editors
.vscode/
.idea/

# Prisma
prisma/migrations/

# Cache
.cache/
*.tsbuildinfo
